@font-face {
  font-family: "sunny_spell";
  src: url("font/sunny-spells-basic-font/SunnySpellsBasicRegular-Yz1Wv.ttf");
}

*,::after,::before{box-sizing:border-box}html{font-family:system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';line-height:1.15;-webkit-text-size-adjust:100%;-moz-tab-size:4;tab-size:4}body{margin:0}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}legend{padding:0}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

a{
  color: rgb(233, 236, 122);
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
}

body { 
  display: flex;
}


#bg_img{
  background-image: url("pictures/bogdan-farca-CEx86maLUSc-unsplash-midsize.jpg");
  flex: 1;
  height: 900px;
}

#sign_up_form{
  flex: 1;
}

.title{
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
  height: 150px;
  background-color: rgba( 0, 0, 0, 0.25);
}

.title > p{
  font-family: sunny_spell;
  font-size: 80px;
  align-self: center;
  justify-self: center;
  color: rgb(248, 248, 240);
}

#logo{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#logo > img {
  max-width: 100px;

}
#logo > a{
  font-size: 9px;
  max-width: 100px;
}

.credit{
  background-color: rgba( 0, 0, 0, 0.25);
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 625px;
  color: white;
}

#sign_up_form{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(222, 241, 248);
  color: rgb(36, 77, 87);
  box-shadow: -2px 0 5px white;
 
}

.text{
  padding: 40px 40px 20px 20px;
  font-size: 25px;
  max-width: 775px;
}

form {
  padding: 20px 40px 20px 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(208, 224, 240);
  box-shadow: 0 2px 5px rgb(208, 224, 240);
}

form > p {
  font-size: 25px;
}

fieldset {
  display: flex;
  border-style: hidden;
  align-content: left;
  justify-content: left;
  padding: unset;
}

#ul1 {
  margin-right: 20px;
}


ul {
  display: flex;
  flex-direction: column;
  justify-self: left;
  align-self: left;
  padding-inline-start: unset;
}


li {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

input{
  background-color: rgb(222, 245, 255);
  border-radius: 5px;
  height: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}

input:invalid {
  border-color: red;
}

input:focus {
  box-shadow: 0 0 10px rgb(30, 138, 201);
}

.button{
  display: flex;
  flex-direction: column;
  padding: 80px 40px 20px 20px;
  
}

.button > input{
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(118, 218, 231);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(36, 77, 87);
}